* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    list-style: none;
}

label {
    font-size: 2rem;
    font-weight: 600;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #537FE7;
}

ul li {
    display: inline;
    padding: 0 10px;
    cursor: pointer;
}

.active, li:hover {
    background-color: #0938a7;
    padding: 9px;
}
